<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">

    <!-- Left-aligned logo -->
    <a id="rve-navbar-brand" class="navbar-brand">
      <img class="d-inline-block rve-logo" src="favicon.ico" title="angular">&nbsp;
      <img class="d-inline-block rve-logo" src="ts.png" title="typescript" width="52" height="52">&nbsp;
      <img class="d-inline-block rve-logo" src="bs.png" title="bootstrap" width="48" height="48">&nbsp;
      <img class="d-inline-block rve-logo" src="md.png" title="material" width="52" height="52">
      <img class="d-inline-block rve-logo" src="ai.png" title="openai" width="52" height="52">
      <span id="rve-title"> IRS - Form 1040</span>
    </a>

    <div class="d-flex">
      <button class="btn btn-outline-light me-2" type="button">Save</button>
      <button class="btn btn-outline-success" type="button">Calculate</button>
    </div>
  </div>
</nav>
