<div id="rve-main" class="row g-0">
  @if(!isLeftDockPinned) {
    <div id="rve-nav-col" class="col-md-2 rve-nav-container">
      <section id="rve-left-dock">
        <div class="rve-nav-title">
          <button class="btn btn-primary" (click)="rvenavdrawer.toggle()">NAVIGATION</button>
        </div>
      </section>
    </div>
  } @else {
    <div id="rve-nav-col" class="col-auto rve-nav-drawer-pinned">
      <app-nav [isPinned]="true" (pinToggled)="rvenavdrawer.toggle(); onNavPinToggled($event)"
                (fileSelected)="onFileSelected($event)"></app-nav>
    </div>
  }
  <div class="col">
    <mat-drawer-container id="rve-nav-container">
      <mat-drawer class="rve-nav-drawer" #rvenavdrawer position="start" mode="over">
        <div class="tab-content">
          <div class="tab-pane fade show active rve-nav-drawer-unpinned"
                role="tabpanel" aria-labelledby="nav-tab">
            <app-nav [isPinned]="false" (pinToggled)="rvenavdrawer.toggle(); onNavPinToggled($event)"
                      (fileSelected)="onFileSelected($event)"></app-nav>
          </div>
        </div>
      </mat-drawer>
      <mat-drawer class="rve-tools-drawer" #rvetoolsdrawer position="end" mode="over">
        <div id="rve-nav" class="list-group-item bg-dark">
          <div class="rve-nav-title">COMMENTS</div>
        </div>
        <div class="mt-2 px-2">
          <textarea id="comments" name="comments" class="form-control"
                    rows="27" [(ngModel)]="payer.comments"></textarea>
        </div>
      </mat-drawer>
      <mat-drawer-content id="nav-drawer-content">
        <app-form (editComment)="rvetoolsdrawer.toggle()"></app-form>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
