#rve-main {
  flex: 1;
  /* overflow-y: auto; */
  height: calc(100vh - 76px);
}

.rve-nav-title {
  flex-grow: 1; /* Allows the text to take up remaining space */
  text-align: center; /* Centers the text */
}

#rve-nav-container {
  height: calc(100vh - 76px);
}

.rve-nav-drawer {
  width: 300px;
  position: absolute;
  height: calc(100vh - 76px);
  /* left: 32px; */
}

.rve-nav-drawer-unpinned {
  width: 300px;
  overflow-y: auto;
  height: calc(100vh - 76px);
  padding: 0px 2px 2px 2px;
  border: solid 2px var(--bs-secondary);;
  background-color: var(--bs-dark);
  box-shadow: inset 0 0 4px 2px var(--bs-secondary);
}

.rve-nav-drawer-pinned {
  width: 300px;
  overflow-y: auto;
  height: calc(100vh - 76px);
  padding: 0px 2px 2px 2px;
  border: solid 2px var(--bs-secondary);;
  background-color: var(--bs-dark);
  box-shadow: inset 0 0 4px 2px var(--bs-secondary);
}

.rve-nav-container {
  width: 32px;
}

#rve-left-dock {
  width: 32px;
  height: calc(100vh - 76px);
  background-color: var(--bs-dark);
  /* border-right: 3px solid var(--bs-secondary); */
}

#rve-left-dock div {
  width: 32px;
  height: 140px; /* 280px; ADD THIS BACK FOR TWO BUTTONS - MAKE BIGGER FOR EACH NEW BUTTON */
  border: 1px solid var(--bs-dark);
  background-color: var(--bs-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#rve-left-dock div button {
  width: 140px;
  height: 32px;
  padding: 0px;
  margin-left: -55px;
  transform: rotate(270deg);
}

#rve-main {
  overflow-y: auto;
  height: calc(100vh - 76px);
}



mat-drawer-content {
  overflow: visible !important;
}





.form-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 12px;
}

.full-width {
  width: 100%;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  min-height: 40px !important;
}

.mat-input-element {
  font-size: 14px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  line-height: 1.2;
}
