<div id="rve-main" class="row g-0 rve-form">
  <!-- tax-form.component.html -->
  <!-- <form class="tax-form" (ngSubmit)="onSubmit()"> -->
    <mat-card class="mb-4">
      <mat-card-title class="bg-dark d-flex justify-content-center align-items-center" style="height: 58px; color: whitesmoke; text-align: center;">
        U.S. INDIVIDUAL INCOME TAX RETURN - 2024
      </mat-card-title>
      <div class="p-1">

      <div class="row mb-3" style="margin-bottom: 0px !important;">
        <div class="col-md-4 d-flex align-items-center rve-div">
          <span class="rve-span">
            For the year Jan. 1-Dec. 31, 2024, or other tax year beginning
          </span>
        </div>
        <div class="col-md-4 d-flex align-items-center rve-div" style="padding-left: 0px; padding-right: 0px;">
          <mat-form-field class="w-100 no-border" appearance="fill" floatLabel="always" color="accent" subscriptSizing="dynamic">
            <mat-label>Tax year beginning</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearStart" class="form-control" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
        <div class="col-md-4 d-flex align-items-center rve-div" style="padding-left: 0px; padding-right: 0px;">
          <mat-form-field class="w-100" appearance="fill" floatLabel="always" color="accent" subscriptSizing="dynamic">
            <mat-label>Tax year ending</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3" style="margin-bottom: 0px !important;">
        <div class="col-md-4 d-flex align-items-center rve-div" style="padding-left: 0px; padding-right: 0px;">
          <mat-form-field class="w-100" appearance="fill" floatLabel="always" color="accent" subscriptSizing="dynamic">
            <mat-label>Your first name and middle initial</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
        <div class="col-md-4 d-flex align-items-center rve-div" style="padding-left: 0px; padding-right: 0px;">
          <mat-form-field class="w-100" appearance="fill" floatLabel="always" color="accent" subscriptSizing="dynamic">
            <mat-label>Last name</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
        <div class="col-md-4 d-flex align-items-center rve-div" style="padding-left: 0px; padding-right: 0px;">
          <mat-form-field class="w-100" appearance="fill" floatLabel="always" color="accent" subscriptSizing="dynamic">
            <mat-label>Your social security number</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3" style="margin-bottom: 0px !important;;">
        <div class="col-md-4 d-flex align-items-center rve-div" style="padding-left: 0px; padding-right: 0px;">
          <mat-form-field class="w-100" appearance="fill" floatLabel="always" color="accent" subscriptSizing="dynamic">
            <mat-label>If joint return, spouse's first name and middle initial</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
        <div class="col-md-4 d-flex align-items-center rve-div" style="padding-left: 0px; padding-right: 0px;">
          <mat-form-field class="w-100" appearance="fill" floatLabel="always" color="accent" subscriptSizing="dynamic">
            <mat-label>Last name</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
        <div class="col-md-4 d-flex align-items-center rve-div" style="padding-left: 0px; padding-right: 0px;">
          <mat-form-field class="w-100" appearance="fill" floatLabel="always" color="accent" subscriptSizing="dynamic">
            <mat-label>Spouse's social security number</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
      </div>

      <style>
        table {
          border-collapse: collapse;
        }

        .table-lines {
          border-top: 1px solid #000000;
          border-bottom: 1px solid #000000;
        }
      </style>
      <table>
        <tr class="table-lines">
          <td style="width: 150px; vertical-align: top;">
            <strong>Filing Status</strong><br/>
            Check only<br/>one box.
          </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td class="bg-lightgreen">
            <table>
              <tr>
                <td>
                  <input type="checkbox" id="Single" name="Single" value="Single">
                  <label for="Single">Single</label>
                </td>
                <td>
                  <input type="checkbox" id="HOH" name="HOH" value="HOH">
                  <label for="HOH">Head of household (HOH)</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" id="jointly" name="jointly" value="jointly">
                  <label for="jointly">Married filing jointly (even if only one had income)</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" id="MFS" name="MFS" value="MFS">
                  <label for="MFS">Married filing separately (MFS)</label>
                </td>
                <td>
                  <input type="checkbox" id="QSS" name="QSS" value="QSS">
                  <label for="QSS">Qualifying surviving spouse (QSS)</label>
                </td>
              </tr>
            </table>
            <label for="spouseName">If you checked the MFS box, enter the name of your spouse. If you checked the HOH or QSS box, enter the child’s name if the<br/>
              qualifying person is a child but not your dependent:</label>
            <input type="text" id="spouseName" name="spouseName"><br/>
            <input type="checkbox" id="alienSpouse" name="alienSpouse" value="alienSpouse">
            <label for="alienSpouse">If treating a nonresident alien or dual-status alien spouse as a U.S. resident for the entire tax year, check the box and enter<br/>
              their name (see instructions and attach statement if required):</label>
              <input type="text" id="statement" name="statement"><br/>
          </td>
        </tr>
        <tr class="table-lines">
          <td><strong>Digital</strong><br/><strong>Assets</strong></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td class="bg-lightgreen">At any time during 2024, did you: (a) receive (as a reward, award, or payment for property or services); or (b) sell, <br/>
            exchange, or otherwise dispose of a digital asset (or a financial interest in a digital asset)? (See instructions.) &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" id="Yes" name="Yes" value="Yes">
            <label for="Yes"> <strong>Yes</strong></label>
            <input type="checkbox" id="No" name="No" value="No">
            <label for="No"><strong>No</strong></label>
          </td>
        </tr>
        <tr>
          <td style="border-bottom: solid black 1px;"><strong>Standard</strong><br/><strong>Deduction</strong></td>
          <td style="border-bottom: solid black 1px;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td class="table-lines bg-lightgreen">
            <strong>Someone can claim:</strong>
            <input type="checkbox" id="dependent" name="dependent" value="dependent">
            <label for="Dependent">You as a dependent</label>
            <input type="checkbox" id="spouseDependent" name="spouseDependent" value="spouseDependent">
            <label for="spouseDependent">Your spouse as a dependents</label>
            <br/>
            <input type="checkbox" id="spouseItems" name="spouseItems" value="spouseItems">
            <label for="spouseItems">Spouse itemizes on a separate return or you were a dual-status alien</label>
          </td>
        </tr>
        <tr >
          <td style="border-bottom: solid black 1px;"><strong>Age/Blindness</strong></td>
          <td style="border-bottom: solid black 1px;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td class="table-lines bg-lightgreen">
            <strong>You: </strong>
            <input type="checkbox" id="bornBefore" name="bornBefore" value="bornBefore">
            <label for="bornBefore">Were born before January 2, 1960 &nbsp;&nbsp;</label>
            <input type="checkbox" id="blind" name="blind" value="blind">
            <label for="blind">Are blind</label>
            <strong>&nbsp;&nbsp;&nbsp;&nbsp; Spouse: </strong>
            <input type="checkbox" id="spouseBornBefore" name="spouseBornBefore" value="spouseBornBefore">
            <label for="spouseBornBefore">Was born before January 2, 1960 &nbsp;&nbsp;</label>
            <input type="checkbox" id="spouseBlind" name="spouseBlind" value="spouseBlind">
            <label for="spouseBlind">Is blind</label>
          </td>
        </tr>
      </table>

      <table style="width: 100%;">
        <tr>
          <td rowspan="25" style="width: 170px; vertical-align: top; border-bottom: solid black 1px;"><strong>Income</strong></td>
          <td class="bg-lightgreen">1a</td>
          <td class="bg-lightgreen">Total amount from Form(s) W-2, box 1 (see instructions) . . . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1a</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">b</td>
          <td class="bg-lightgreen">Household employee wages not reported on Form(s) W-2 . . . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1b</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">c</td>
          <td class="bg-lightgreen">Tip income not reported on line 1a (see instructions) . . . . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1c</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">d</td>
          <td class="bg-lightgreen">Medicaid waiver payments not reported on Form(s) W-2 (see instructions) . . . . . . . .</td>
          <td class="bg-lightgreen">1d</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">e</td>
          <td class="bg-lightgreen">Taxable dependent care benefits from Form 2441, line 26 . . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1e</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">f</td>
          <td class="bg-lightgreen">Employer-provided adoption benefits from Form 8839, line 29 . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1f</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">f</td>
          <td class="bg-lightgreen">Employer-provided adoption benefits from Form 8839, line 29 . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1f</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">h</td>
          <td class="bg-lightgreen">Other earned income (see instructions) . . . . . . . . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1h</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">i</td>
          <td class="bg-lightgreen">Nontaxable combat pay election (see instructions) . . . . . . .</td>
          <td class="bg-lightgreen">1i</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen" style="border-bottom: solid 1px black;">i</td>
          <td class="bg-lightgreen" style="border-bottom: solid 1px black;">Nontaxable combat pay election (see instructions) . . . . . . .</td>
          <td class="bg-lightgreen" style="border-bottom: solid 1px black;">1i</td>
          <td class="bg-lightgreen" style="border-bottom: solid 1px black;">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
      </table>
      
      </div>

      <table>
              <tr>
                  <td style="width: 170px;"><strong>Tax and</strong></td>
          <td class="bg-lightgreen"><strong>16</strong></td>
                  <td class="bg-lightgreen"><strong>Tax</strong> (see instructions). Check if any from Form(s): &nbsp;&nbsp;<strong>1</strong> <input type="checkbox" name="form1"> 8814 &nbsp;&nbsp;&nbsp;&nbsp;<strong>2</strong> <input type="checkbox" name="form2"> 4972 &nbsp;&nbsp;&nbsp;&nbsp;<strong>3</strong> <input type="checkbox" name="form3"><input type="text" name="form_other"></td>
                  <td  class="bg-lightgreen"><strong>16</strong></td>
          <td colspan="5"  class="bg-lightgreen"><input type="text" name="line_18"></td>
              </tr>
              <tr>
                  <td><strong>Credits</strong></td>
          <td class="bg-lightgreen"><strong>17</strong></td>
                  <td class="bg-lightgreen">Amount from Schedule 2, line 3</td>
                  <td class="bg-lightgreen"><strong>17</strong></td>
          <td colspan="5"  class="bg-lightgreen"><input type="text" name="line_17"></td>
              </tr>
              <tr>
                  <td></td>
          <td class="bg-lightgreen"><strong>18</strong></td>
                  <td class="bg-lightgreen">Add lines 16 and 17</td>
          <td class="bg-lightgreen"><strong>18</strong></td>
                  <td colspan="5" class="bg-lightgreen"><input type="text" name="line_18"></td>
              </tr>
              <tr>
                  <td></td>
          <td class="bg-lightgreen"><strong>19</strong></td>
                  <td class="bg-lightgreen">Child tax credit or credit for other dependents from Schedule 8812</td>
                  <td class="bg-lightgreen"><strong>19</strong></td>
          <td colspan="5" class="bg-lightgreen"><input type="text" name="line_19"></td>
              </tr>
              <tr>
                  <td></td>
          <td class="bg-lightgreen"><strong>20</strong></td>
                  <td class="bg-lightgreen">Amount from Schedule 3, line 8</td>
                  <td class="bg-lightgreen"><strong>20</strong></td>
          <td colspan="5" class="bg-lightgreen"><input type="text" name="line_20"></td>
              </tr>
              <tr>
                  <td></td>
          <td class="bg-lightgreen"><strong>21</strong></td>
                  <td class="bg-lightgreen"> Add lines 19 and 20</td>
                  <td class="bg-lightgreen"><strong>21</strong></td>
          <td colspan="5" class="bg-lightgreen"><input type="text" name="line_21"></td>
              </tr>
              <tr>
                  <td></td>
          <td class="bg-lightgreen"><strong>22</strong></td>
                  <td class="bg-lightgreen">Subtract line 21 from line 18. If zero or less, enter -0-</td>
                  <td class="bg-lightgreen"><strong>22</strong></td>
          <td colspan="5" class="bg-lightgreen"><input type="text" name="line_22"></td>
              </tr>
              <tr>
                  <td></td>
          <td class="bg-lightgreen"><strong>23</strong></td>
                  <td class="bg-lightgreen">Other taxes, including self-employment tax, from Schedule 2, line 21</td>
                  <td class="bg-lightgreen"><strong>23</strong></td>
          <td colspan="5" class="bg-lightgreen"><input type="text" name="line_23"></td>
              </tr>
              <tr>
                  <td style="border-bottom: solid 1px black;"></td>
          <td class="bg-lightgreen" style="border-bottom: solid 1px black;"><strong>24</strong></td>
                  <td class="bg-lightgreen" style="border-bottom: solid 1px black;">Add lines 22 and 23. This is your <strong>total tax</strong></td>
                  <td class="bg-lightgreen" style="border-bottom: solid 1px black;"><strong>24</strong></td>
          <td colspan="5" class="bg-lightgreen" style="border-bottom: solid 1px black;"><input type="text" name="line_24"></td>
              </tr>
          </table>

      <table>
              <tr>
                  <td style="width: 170px;"><strong>Payments</strong></td>
          <td ><strong>25</strong></td>
                  <td>Federal income tax withheld from:</td>
              </tr>
              <tr>
                  <td></td>
          <td><strong>&nbsp;&nbsp;&nbsp;a</strong></td>
                  <td>Form(s) W-2</td>
                  <td><strong>25a</strong></td>
          <td colspan="5"><input type="text" name="line_17"></td>
              </tr>
              <tr>
                  <td></td>
          <td><strong>&nbsp;&nbsp;&nbsp;b</strong></td>
                  <td>Form(s) 1099</td>
          <td><strong>25b</strong></td>
                  <td colspan="5"><input type="text" name="line_18"></td>
              </tr>
              <tr>
                  <td></td>
          <td><strong>&nbsp;&nbsp;&nbsp;c</strong></td>
                  <td>Other forms (see instructions)</td>
                  <td><strong>25c</strong></td>
          <td colspan="5"><input type="text" name="line_19"></td>
              </tr>
              <tr>
                  <td></td>
          <td><strong>&nbsp;&nbsp;&nbsp;d</strong></td>
                  <td>Add lines 25a through 25c</td>
          <td></td>
          <td colspan="5"></td>
                  <td><strong>25d</strong></td>
          <td colspan="5"><input type="text" name="line_20"></td>
              </tr>
              <tr>
                  <td></td>
          <td><strong>26</strong></td>
                  <td>2024 estimated tax payments and amount applied from 2023 return</td>
                  <td></td>
          <td colspan="5"></td>
          <td><strong>26</strong></td>
          <td colspan="5"><input type="text" name="line_21"></td>
              </tr>
              <tr>
                  <td></td>
          <td><strong>27</strong></td>
                  <td>Earned income credit (EIC)</td>
                  <td><strong>27</strong></td>
          <td colspan="5"><input type="text" name="line_22"></td>
              </tr>
              <tr>
                  <td></td>
          <td><strong>28</strong></td>
                  <td>Additional child tax credit from Schedule 8812</td>
                  <td><strong>28</strong></td>
          <td colspan="5"><input type="text" name="line_23"></td>
              </tr>
              <tr>
                  <td></td>
          <td><strong>29</strong></td>
                  <td>American opportunity credit from Form 8863, line 8</td>
                  <td><strong>29</strong></td>
          <td colspan="5"><input type="text" name="line_24"></td>
              </tr>
        <tr>
                  <td></td>
          <td><strong>30</strong></td>
                  <td>Reserved for future use</td>
                  <td><strong>30</strong></td>
          <td></td>
              </tr>
        <tr>
                  <td></td>
          <td><strong>31</strong></td>
                  <td>Amount from Schedule 3, line 15</td>
                  <td><strong>31</strong></td>
          <td colspan="5"><input type="text" name="line_24"></td>
              </tr>
        <tr>
                  <td></td>
          <td><strong>32</strong></td>
                  <td>Add lines 27, 28, 29, and 31. This is your <strong>total other payments and refundable credits</strong></td>
                  <td></td>
          <td colspan="5"></td>
          <td><strong>32</strong></td>
          <td colspan="5"><input type="text" name="line_24"></td>
              </tr>
        <tr>
                  <td></td>
          <td><strong>33</strong></td>
                  <td> Add lines 25d, 26, and 32. These are your <strong>total payments</strong></td>
                  <td></td>
          <td colspan="5"></td>
          <td><strong>33</strong></td>
          <td colspan="5"><input type="text" name="line_24"></td>
              </tr>
          </table>
          <hr>

      <!-- Submit -->
      <div class="text-center mt-4">
        <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </div>

    </mat-card>
  <!-- </form> -->
</div>