<div id="rve-main" class="row g-0 rve-form">
  <!-- tax-form.component.html -->
  <!-- <form class="tax-form" (ngSubmit)="onSubmit()"> -->
    <mat-card class="p-4 mb-4">
      <mat-card-title>U.S. Individual Income Tax Return - 2024</mat-card-title>
      <hr>
      <div class="row mb-3" style="margin-bottom: 0px !important;">
        <div class="col-md-4 d-flex align-items-center rve-div">
          <span class="rve-span">
            For the year Jan. 1-Dec. 31, 2024, or other tax year beginning
          </span>
        </div>
        <div class="col-md-4 d-flex align-items-center rve-div">
          <mat-form-field appearance="fill" floatLabel="always" color="accent" class="w-100 no-subscript">
            <mat-label>Tax year beginning</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearStart" class="form-control" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
        <div class="col-md-4 d-flex align-items-center rve-div">
          <mat-form-field appearance="fill" floatLabel="always" color="accent" class="w-100 no-subscript">
            <mat-label>Tax year ending</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3" style="margin-bottom: 0px !important;">
        <div class="col-md-4 d-flex align-items-center rve-div">
          <mat-form-field appearance="fill" floatLabel="always" color="accent" class="w-100 no-subscript">
            <mat-label>Your first name and middle initial</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
        <div class="col-md-4 d-flex align-items-center rve-div">
          <mat-form-field appearance="fill" floatLabel="always" color="accent" class="w-100 no-subscript">
            <mat-label>Last name</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
        <div class="col-md-4 d-flex align-items-center rve-div">
          <mat-form-field appearance="fill" floatLabel="always" color="accent" class="w-100 no-subscript">
            <mat-label>Your social security number</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3" style="margin-bottom: 0px !important;;">
        <div class="col-md-4 d-flex align-items-center rve-div">
          <mat-form-field appearance="fill" floatLabel="always" color="accent" class="w-100 no-subscript">
            <mat-label>If joint return, spouse's first name and middle initial</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
        <div class="col-md-4 d-flex align-items-center rve-div">
          <mat-form-field appearance="fill" floatLabel="always" color="accent" class="w-100 no-subscript">
            <mat-label>Last name</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
        <div class="col-md-4 d-flex align-items-center rve-div">
          <mat-form-field appearance="fill" floatLabel="always" color="accent" class="w-100 no-subscript">
            <mat-label>Spouse's social security number</mat-label>
            <div class="input-group align-items-stretch">
              <input matInput name="taxYearEnd" class="form-control" [(ngModel)]="payer.taxYearEnd"
                [ngClass]="{ 'bg-white': isEditing['taxYearEnd'], 'bg-lightblue': !isEditing['taxYearEnd'] }"
                (focus)="setEditMode('taxYearEnd', true)"
                (blur)="setEditMode('taxYearEnd', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </mat-form-field>
        </div>
      </div>

      <style>
        table {
          border-collapse: collapse;
        }

        td {
          border-top: 1px solid #000000;
          border-bottom: 1px solid #000000;
        }
      </style>
      <table>
        <tr>
          <td><strong>Digital</strong><br/><strong>Assets</strong></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td class="bg-lightgreen">At any time during 2024, did you: (a) receive (as a reward, award, or payment for property or services); or (b) sell, <br/>
            exchange, or otherwise dispose of a digital asset (or a financial interest in a digital asset)? (See instructions.) &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" id="Yes" name="Yes" value="Yes">
            <label for="Yes"> <strong>Yes</strong></label>
            <input type="checkbox" id="No" name="No" value="No">
            <label for="No"><strong>No</strong></label>
          </td>
        </tr>
        <tr>
          <td><strong>Standard</strong><br/><strong>Deduction</strong></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td  class="bg-lightgreen">
            <strong>Someone can claim:</strong>
            <input type="checkbox" id="dependent" name="dependent" value="dependent">
            <label for="Dependent">You as a dependent</label>
            <input type="checkbox" id="spouseDependent" name="spouseDependent" value="spouseDependent">
            <label for="spouseDependent">Your spouse as a dependents</label>
            <br/>
            <input type="checkbox" id="spouseItems" name="spouseItems" value="spouseItems">
            <label for="spouseItems">Spouse itemizes on a separate return or you were a dual-status alien</label>
          </td>
        </tr>
        <tr>
          <td><strong>Age/Blindness</strong></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td  class="bg-lightgreen">
            <strong>You: </strong>
            <input type="checkbox" id="bornBefore" name="bornBefore" value="bornBefore">
            <label for="bornBefore">Were born before January 2, 1960 &nbsp;&nbsp;</label>
            <input type="checkbox" id="blind" name="blind" value="blind">
            <label for="blind">Are blind</label>
            <strong>&nbsp;&nbsp;&nbsp;&nbsp; Spouse: </strong>
            <input type="checkbox" id="spouseBornBefore" name="spouseBornBefore" value="spouseBornBefore">
            <label for="spouseBornBefore">Was born before January 2, 1960 &nbsp;&nbsp;</label>
            <input type="checkbox" id="spouseBlind" name="spouseBlind" value="spouseBlind">
            <label for="spouseBlind">Is blind</label>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td rowspan="25" style="width: 150px; vertical-align: top;"><strong>Income</strong></td>
          <td class="bg-lightgreen">1a</td>
          <td class="bg-lightgreen">Total amount from Form(s) W-2, box 1 (see instructions) . . . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1a</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">b</td>
          <td class="bg-lightgreen">Household employee wages not reported on Form(s) W-2 . . . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1b</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">c</td>
          <td class="bg-lightgreen">Tip income not reported on line 1a (see instructions) . . . . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1c</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">d</td>
          <td class="bg-lightgreen">Medicaid waiver payments not reported on Form(s) W-2 (see instructions) . . . . . . . .</td>
          <td class="bg-lightgreen">1d</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">e</td>
          <td class="bg-lightgreen">Taxable dependent care benefits from Form 2441, line 26 . . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1e</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">f</td>
          <td class="bg-lightgreen">Employer-provided adoption benefits from Form 8839, line 29 . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1f</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">f</td>
          <td class="bg-lightgreen">Employer-provided adoption benefits from Form 8839, line 29 . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1f</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">h</td>
          <td class="bg-lightgreen">Other earned income (see instructions) . . . . . . . . . . . . . . . . . .</td>
          <td class="bg-lightgreen">1h</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">i</td>
          <td class="bg-lightgreen">Nontaxable combat pay election (see instructions) . . . . . . .</td>
          <td class="bg-lightgreen">1i</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bg-lightgreen">i</td>
          <td class="bg-lightgreen">Nontaxable combat pay election (see instructions) . . . . . . .</td>
          <td class="bg-lightgreen">1i</td>
          <td class="bg-lightgreen">
            <div class="input-group">
              <input matInput name="taxYearStart" class="form-control rve-currency" [(ngModel)]="payer.taxYearStart"
                [ngClass]="{ 'bg-white': isEditing['taxYearStart'], 'bg-lightblue': !isEditing['taxYearStart'] }"
                (focus)="setEditMode('taxYearStart', true)"
                (blur)="setEditMode('taxYearStart', false)"
              />
              <button class="btn btn-outline-secondary rve-pencil" 
                type="button" (click)="onEditComment()">
                <i class="bi bi-pencil small"></i>
              </button>
            </div>
          </td>
        </tr>
      </table>

      <!-- Submit -->
      <div class="text-center mt-4">
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      </div>

    </mat-card>
  <!-- </form> -->
</div>